[functions]
    node_bundler = "esbuild"

[[headers]]
    for = "/*"
    [headers.values]
        Strict-Transport-Security = 'max-age=63072000; includeSubdomains; preload'

        X-Frame-Options = "DENY"
        X-Content-Type-Options = "nosniff"
        Referrer-Policy = 'same-origin'

        # This one only applies to older browsers, and getting good information about what it does it hard.
        # It is superceded by CSP headers, but still useful in old browsers.
        X-XSS-Protection = "1; mode=block"

