@config "../tailwind.config.js";
@import "tailwindcss";

/* Match overscroll background to navbar color */
html {
  background-color: #180040;
}

body {
  background-color: white;
}

@theme {
  --background-image-imgScotus: url('/images/homepage/scotus-hero.jpeg');
  --background-image-imgJudgeHr: url('/images/homepage/judge-hr.jpeg');
  --background-image-EOYBanner1: url('/images/homepage/eOYBanner1.jpg');
  --background-image-EOYBanner2: url('/images/homepage/eOYBanner2.jpg');
  --background-image-smile: radial-gradient(ellipse 80% 100% at 50% 10%, #180040 90%, transparent 90%);
}

@font-face {
    font-family: 'CooperHewitt';
    src: url(/fonts/CooperHewitt-Light.woff) format('woff'),
         url(/fonts/CooperHewitt-Light.eot) format('embedded-opentype'),
         url(/fonts/CooperHewitt-Light.svg) format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url(/fonts/CooperHewitt-Book.woff) format('woff'),
         url(/fonts/CooperHewitt-Book.eot) format('embedded-opentype'),
         url(/fonts/CooperHewitt-Book.svg) format('svg');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt";
    src: url(/fonts/CooperHewitt-Bold.woff) format('woff'),
         url(/fonts/CooperHewitt-Bold.eot) format('embedded-opentype'),
         url(/fonts/CooperHewitt-Bold.svg) format('svg');
    font-weight: 600;
}

@layer utilities {
    .centered-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
        font-style: normal;
    }
    .callout-box {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-width: 1px;
        border-color: rgb(107 114 128);
    }
}

.left-image {
    float: left;
    display: table;
    margin: 0 15px 10px 0;
}

.left-image p {
    margin-top: 0;
    margin-bottom: 0;
}

.left-image img {
    margin-bottom: 0;
}

.right-image {
    float: right;
    display: table;
    margin: 0 0 10px 15px;
}

.right-image p {
    margin-top: 0;
    margin-bottom: 0;
}

.right-image img {
    margin-bottom: 0;
}

.prose code::after {
  content: "";
}
.prose code::before {
  content: "";
}
