::-moz-selection {
    background: #AE0B0B;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #AE0B0B;
    color: #fff;
    text-shadow: none;
}
:target:before {
    content: "";
    display: block;
    height: 65px;
    margin: -65px 0 0;
}

body {
    padding-top: 60px;
}
a:hover,
a:active,
a:focus {
    color: #AE0B0B;
}
h1 a:hover,
h1 a:active,
h1 a:focus,
h2 a:hover,
h2 a:active,
h2 a:focus {
    color: inherit;
}
code {
    color: #AE0B0B;
}
.scotus-map {
    padding-bottom: 540px;
}

.navbar-default .navbar-nav > li > a.donate {
    color: #df0e0e;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #df0e0e;
}
.left-image {
    float:left;
    display: table;
    margin: 0 15px 10px 0;
}
.right-image {
    float: right;
    display: table;
    margin: 0 0 10px 15px;
}

img.border {
    border: solid 1px gray;
    box-shadow: 3px 3px 3px darkgray;
}

p.caption {
    display: table-caption;
    caption-side: bottom;
    color: gray;
    padding-top: 10px;
}

.entry-title .caps {
    /* disable small caps on titles */
    font-size: inherit;
}

.bg-warning {
    background-color: #fcf8e3;
}
.bg-danger {
    background-color: #f2dede;
}
a.anchor, a.anchor:focus, a.anchor:hover {
    color: gray;
    text-decoration: none;
    border-bottom: 0;
}

#sidebar {
    word-break: normal;
}

/* Tweaks for various screens */
@media screen and (max-width: 767px) {
    #banner {
        display: none;
    }
}
@media (min-width: 768px) {
    #banner {
        padding: 40px 0;
    }
    #banner .copy {
        padding: 10px;
    }
    #banner .intro {
        font-size: 19px;
        padding: 0;
    }
}
@media (min-width: 992px) {
    #banner {
        padding: 45px;
    }
    #banner .copy {
        padding: 15px;
    }
    #banner .intro {
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .nav > li > a {
        /* In sm size, make more room for links in the nav so they don't
        overflow. */
        padding-left: 10px;
        padding-right: 10px;
    }
}
