::-moz-selection {
    background: #AE0B0B;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #AE0B0B;
    color: #fff;
    text-shadow: none;
}
*:target {
    background-color: lightyellow;
}

#banner {
    padding: 108px 0;
}
a:hover,
a:active,
a:focus {
    color: #AE0B0B;
}
h1 a:hover,
h1 a:active,
h1 a:focus,
h2 a:hover,
h2 a:active,
h2 a:focus {
    color: inherit;
}
code {
    color: #AE0B0B;
}
.scotus-map {
    padding-bottom: 540px;
}

.navbar-default .navbar-nav > li > a.donate {
    color: #df0e0e;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #df0e0e;
}
.left-image {
    float:left;
    display: table;
    margin: 0 15px 10px 0;
}
.right-image {
    float: right;
    display: table;
    margin: 0 0 10px 15px;
}

p.caption {
    display: table-caption;
    caption-side: bottom;
    color: gray;
    padding-top: 10px;
}

.bg-danger {
    background-color: #f2dede;
}
